

body {
    background-color: #d8f3dc;

    main {
            
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;

            h1, h2, h3{
                font-size: 45px;
                color: #40916c;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                color: #1b263b;
                margin-bottom: 0;
            }
            p{
                color: #005f73;
                font-size: 21px;
            }
            li {
                color: #0a9396;
                font-weight: bold;
                &.active, &:hover {
                    color: #57cc99;
                }
            }

        .errorM {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;
            h1 {
                font-size: 65px;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .projectDetail {
            display:flex;
            .projectContainer {
                max-height: max-content;
            }
        }
       
        font-family: 'Sofia Sans';
    }
    footer {

        font-family: 'Sofia Sans'; 
        position: fixed;
        bottom: 0;
    }
}
