main {
    .indexHeader {
        position: absolute;
        top: 0;
        padding: 23px 0 0 100px;

        h1 {
            font-size: 65px;
            margin-bottom: 0;
        }
        h4 {
            font-size: 45px;
            margin-bottom: 0;
        }
    }
    font-family: 'Sofia Sans';
}
