

body {
    background-color: #fdf0d5;

    main {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;

            h1 {
                font-size: 65px;
                color: #415a77;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                color: #1b263b;
                margin-bottom: 0;
            }
            p{
                font-size: 21px;
            }
            li {
                color: #780000;
                &:hover {
                    color: #2a9d8f;
                }
            }
        .errorM {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;
            h1 {
                font-size: 65px;
                color: #000000;
                margin-bottom: 0;
            }
        }
        font-family: 'Sofia Sans';
    }

    footer {

        font-family: 'Sofia Sans'; 
        position: fixed;
        bottom: 0;
    }
}
